[Unit]
Description=Holodex Checker Service
After=network.target

[Service]
ExecStart=/home/kube/jaisy/holodex-checker/holodex-checker
WorkingDirectory=/home/kube/jaisy/holodex-checker
Restart=always
StandardOutput=append:/home/kube/jaisy/holodex-checker/holodex-checker.log
StandardError=append:/home/kube/jaisy/holodex-checker/holodex-checker.log
User=kube
Group=kube
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/$(id -u kube)
KillMode=control-group

[Install]
WantedBy=multi-user.target